html {
  font-size: 1.2vw;
}

body {
  background-image:url('/background.png');
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

hr {
  margin: 0 auto;
  width: 40%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

.center_text{
  text-align: center;
}

.underlay{
  background-color: rgba(250, 250, 250, 0.94);
  padding: 4%;
  -webkit-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.5);
}

.location_time{
  /* font-size: 110%; */
}

.main_wrapper{
  margin-top: 2%;
  margin-bottom: 2%;
}

.radius{
  border-radius: 6px;
}
